@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Backends Dashboard - адміністративна консоль-розробника для управління <br>
    даними та користувачами платформи BaaS. Дане застосування виконане, як частина бакалаврської кваліфікаційної роботи</p>
