@{
    ViewBag.Title = "Контактна інформація";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vinnytsya<br />
    600-ritchya street, 17<br />
    <abbr title="Phone">P:</abbr>
    551437
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@backs.com">Support@backs.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@backs.com">Marketing@backs.com</a>
</address>