@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Platform BaaS</h1>
    <p class="lead">Backends is a free backend as a service platform for building Web and mobile aplications.</p>
    <p><a href="https://en.wikipedia.org/wiki/Mobile_backend_as_a_service" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Розрочати роботу</h2>
        <p>
            Backends Dashboard надає змогу створювати проекти в платформі та управляти даними,
            створювати структури даних необхідних для проекту. Для того щоб робзпочати роботу потрібно зареєструватися та 
            створити проект.
        </p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Створити проект&raquo;</a></p>*@
    </div>
    
</div>